@charset "utf-8";

* {
			margin: 0;
			padding: 0;
}

body {
			background-color: #FFFFFF;
			text-align: center; /* for IE */
}

body, div, h1, h2, h3, dt, dd, p, li {
			font-familly: 宋体,SimSun,'MS Song','MS Mincho',serif;
			font-size: 13px;
}

div {
			text-align: left;
}

a {
			color: #000E6B;
			text-decoration: underline;
}

a:hover {
			color: #696969;
}
