@charset "utf-8";

#out-wrapper {
			width: 992px;
			background: url(../images/wrapper2.gif) repeat-y;
			margin: 0 auto;
			text-align: center;
}

#header {
			width: 952px;
			margin: 0 auto;
			background: url(../images/header.gif) no-repeat;
}

/*------------ header country navi ------------*/
#header ul.country-navi {
			width: 952px;
}

ul.country-navi: after {
			height: 0;
			visibility: hidden;
			content: ".";
			display: block;
			clear: both;
}

ul.country-navi li {
			width: 29px;
			margin: 31px 1px 59px 7px;
			float: right;
			list-style-type: none;
			line-height: 0;
			display: inline;
}

ul.country-navi li a {
			display: block;
			height: 19px;
			position: relative;
			text-decoration: none;
}

ul.country-navi li a.country01 {
			background: url(../images/country01.gif) no-repeat;
}

ul.country-navi li a.country01:hover {
			background: url(../images/country01_hover.gif) no-repeat;
}

ul.country-navi li a.country02 {
			background: url(../images/country02.gif) no-repeat;
}

ul.country-navi li a.country02:hover {
			background: url(../images/country02_hover.gif) no-repeat;
}

ul.country-navi li a.country03 {
			background: url(../images/country03.gif) no-repeat;
}

ul.country-navi li a.country03:hover {
			background: url(../images/country03_hover.gif) no-repeat;
}

/* ------------contents wrapper ------------*/
#wrapper {
			width: 980px; /* 980px-(左マージン14px+右マージン14px)=952px */
			margin: 30px auto 0 auto;
}

/* ------------left-column ------------*/
.left-column {
			width: 188px;
			float: left;
}

/* ------------right-column ------------*/
.right-column {
			width: 746px; /* 764px-左18px=746px */
			float: right;
}

/* Company Profile */
#company {
			width: 676px; /* 746-70 */
			margin-top: 22px;
			background-color: #FDD9C9;
}

#company dl {
			width: 674px; /* 744-70 */
			border-right: 1px solid #CCCCCC;
			border-bottom: 1px solid #CCCCCC;
			border-left: 1px solid #CCCCCC;
			background-color: #FDD9C9;
}

#company dt {
			float: left;
			width: 100px;
			padding: 6px;
			clear: both;
			background-color: #FDD9C9;
			border-top: 1px solid #CCCCCC;
			color: #800000;
}

#company dd {
			width: 549px; /* 619-70 */
			border-top: 1px solid #CCCCCC;
			padding: 6px;
			float: right;
			background-color: #FFFFFF;
}

#company ul {
			width: 549px; /* 619-70 */
}

#company li {
			list-style-type: none;
			padding: 6px;
			line-height: 1;
			margin: -1px 0 1px 0;
			background-color: #FFFFFF;
			width: 329px;
}

#company li.left {
			width: 196px;
			float: left;
}

/*------------Footer------------*/
#footer {
			width: 980px;
			border-bottom: 4px solid #000E6B;
			margin: 20px 0 0 0;
			background: url(../images/footer_bg.gif) no-repeat;
}

#footer ul.country-navi {
			width: 111px;
			float: right;
			margin: 19px 14px 0 0;
}

#footer ul.country-navi li {
			margin: 0px 1px 0px 7px;
}


