	<div id="guide" class="cf">
		<div id="main_area">
			<div class="bg_rep">
				<h4>ご利用ガイド</h4>
				
				<ul>
					<li>
						<h5>STEP 1<br>商品の選択</h5>
						<p>お好みの商品を選択し(ユーザー数等)「購入」ボタンをクリックしてください。<br>該当商品がカートに追加されます。</p>
					</li>
					<li>
						<h5>STEP 2<br>ご購入商品、数量の確認</h5>
						<p>カートに追加された商品が表示されます。ご購入商品と数量をご確認ください。</p>
					</li>
					<li>
						<h5>STEP 3<br>ログイン、お客様情報の入力</h5>
						<h6>ログインして購入</h6>
						<p>既に会員登録がお済みの方は、お客様情報の入力を省略することができます。<br>
						ご登録されている「メールアドレス」と「パスワード」を入力し「ログイン」ボタンをクリックすると、<br>
						ご登録いただいているお客様情報が表示されます。</p>
						<h6>お客様情報を入力して購入</h6>
						<p>新規購入のお客様は、お客様の氏名、メールアドレス、住所等、必要情報をご入力ください。<br>
						ご入力いただいた情報は、会員情報として登録されます。必ず会員規約をお読みください。</p>
						</p>
					</li>
					<li>
						<h5>STEP 4<br>お支払い方法の選択</h5>
						<p>ご希望のお支払い方法を選択してください。お支払い方法を選択すると詳細が表示されます。<br>
						必要事項を選択/入力後、「次へ進む」をクリックしてください。</p>
					</li>
					<li>
						<h5>STEP 5<br>ご注文内容の確認、確定</h5>
						<p>ご注文内容、お客様情報をご確認ください。<br>
						内容を修正する場合「修正する」をクリックしてください。表示内容に間違いがない場合、<br>
						「注文を確定する」をクリックしてください。</p>
					</li>
				</ul>
			</div>
		</div><!-- main_area -->

	</div>
