<!--{if count($arrProducts) > 0}-->
					<!--{foreach from=$arrProducts item=arrProduct}-->
					<li><a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->">
						<img src="<!--{$smarty.const.ROOT_URLPATH}-->resize_image.php?image=<!--{$arrProduct.main_list_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->"><p><!--{$arrProduct.name|h}--><br>¥<!--{$arrProduct.price02_min|sfCalcIncTax:$arrInfo.tax:$arrInfo.tax_rule|number_format}--></p>
					</a></li>
			<!--{/foreach}-->
<!--{/if}-->