/*--------------------
	Mixin
--------------------*/
/*--------------------
	content
--------------------*/
#content.infomation h2#ttl_h2_01 {
  margin-bottom: 64px; }
#content.infomation #detail,
#content.infomation #map {
  width: 100%;
  margin-bottom: 30px; }
  #content.infomation #detail h3,
  #content.infomation #map h3 {
    margin-bottom: 25px; }
  #content.infomation #detail #txt,
  #content.infomation #map #txt {
    width: 500px; }
    #content.infomation #detail #txt strong,
    #content.infomation #map #txt strong {
      margin-bottom: 25px;
      display: block; }
    #content.infomation #detail #txt p,
    #content.infomation #map #txt p {
      font-size: 16px;
      line-height: 1.7em; }
  #content.infomation #detail #pic,
  #content.infomation #map #pic {
    width: 476px; }
  #content.infomation #detail #googlemap,
  #content.infomation #map #googlemap {
    width: 1000px;
    height: 316px;
    margin-bottom: 55px; }

#content.menu h2 {
  margin-bottom: 30px; }
#content.menu #menu-list {
  width: 675px;
  margin-bottom: 50px; }
  #content.menu #menu-list .ttl_menu {
    border-bottom: 1px dashed #7d7d7d;
    padding-bottom: 5px;
    margin-bottom: 20px; }
    #content.menu #menu-list .ttl_menu ul#name-list {
      width: 100%; }
      #content.menu #menu-list .ttl_menu ul#name-list li {
        min-width: 80px;
        text-align: left;
        vertical-align: middle;
        display: table-cell; }
        #content.menu #menu-list .ttl_menu ul#name-list li span.arrow {
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 5px solid #fb8181;
          display: inline-block;
          padding-right: 3px; }
        #content.menu #menu-list .ttl_menu ul#name-list li a {
          color: #000000;
          text-decoration: none; }
          #content.menu #menu-list .ttl_menu ul#name-list li a:hover {
            text-decoration: underline; }
  #content.menu #menu-list ul#item-list {
    width: 635px;
    margin: 0 auto; }
    #content.menu #menu-list ul#item-list li {
      text-align: center;
      width: 158px;
      float: left;
      margin: 0 0 35px 80px;
      font-size: 14px;
      line-height: 1.5em; }
      #content.menu #menu-list ul#item-list li img {
        vertical-align: bottom; }
