@charset:"UTF-8";
#content {margin-bottom: 80px;}
#content h2 {
	margin-bottom: 35px;
}

#news {
	background: url("../images/top/bg_news.jpg") no-repeat left top;
	width: 779px;
	height: 34px;
	margin: 0 auto;
	margin-bottom: 57px;
	padding: 8px 4px 0 110px;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}

#news a {
	text-decoration:none;
	color:#000;
}

#news a:hover { text-decoration:underline;}

#content .menu {
	float: left;
	width: 675px;
}

.menu .ttl_menu {
	border-bottom: 1px dashed #7d7d7d;
	padding-bottom: 5px;
	margin-bottom: 20px;
}
.menu .ttl_menu h3 {
	float: left;
}
.menu .ttl_menu p {
	float: right;
	padding-top: 5px;
}
.menu .ttl_menu p a {
	color: #000;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

.menu .top_menu_ttl {
	width: 420px;
}

.menu ul {
	width: 635px;
	margin: 0 auto;
}
.menu .top_menu_ttl .menu_cate {
	width:200px;
}
.menu ul li {
	text-align: center;
	width: 158px;
	float: left;
	margin: 0 0 35px 80px;
}
.menu ul li p {
	font-size: 14px;
	line-height: 1.5em;
}

