@charset:"UTF-8";
/* ここからTOP以外共通 */
.side_area {
	width: 236px;
	float: left;
}
#content .reccomend {
	margin-top: 2px;
	float: none;
}
#content .reccomend h3 {
	margin-bottom: 30px;
}
#content .reccomend .slide li p {
	text-align: center;
	font-size: 13px;
	line-height: 1.3em;
	margin-top: 12px;
}
#content .facebook {
	float: none;
}
/*#main_area {
	float: right;
}*/
/* ここまでTOP以外共通 */

#main_area {
	background: url("../img/concept/bg_main.jpg") no-repeat center top;
	padding: 20px 0 60px 0;
}
#main_area .bg_rep {
	background: url("../img/concept/bg_rep.png") left top;
	width: 640px;
	height: 460px;
	margin: 0 auto;
	padding: 24px 0 0 40px;
}
#main_area .bg_rep h4 {
	margin-bottom: 30px;
}
#main_area .bg_rep p {
	font-size: 13px;
	line-height: 2em;
	margin-bottom: 25px;
	color: #84827f;
}
#main_area .bg_rep ul li {
	font-size: 13px;
	line-height: 2em;
	text-indent: -1em;
	padding-left: 1em;
	color: #84827f;
}
#main_area .bg_rep ul li:before {
	content: "・";
}