/*
===============================================================
This style is part of EC-CUBE plug-in
"History List"

Copyright(c) JAPAN ELECTRONIC INDUSTRIAL ARTS CO.LTD.
http://www.ec-plug.com/

===============================================================
*/
#ecp_Status4Bloc h2 {
	padding: 5px 0 8px 10px;
	background: url("../../../user_data/packages/default/img/background/bg_tit_bloc_01.jpg") repeat-x scroll left bottom transparent;
	border-color: #FF9900 #CCCCCC #CCCCCC;
	border-style: solid;
	border-width: 1px 1px 0px;
	color: #FF6600;
	font-size: 12px;
}
#ecp_Status4Bloc .block_body .product_list {
	width: 100%;
}
#ecp_Status4Bloc .block_body .product_item .productImage {
	display: block;
	margin: 0px 0px 6px 0px;
}
#ecp_Status4Bloc .block_body .product_item .productImage a {
	display: block;
	text-align: center;
}
#ecp_Status4Bloc .block_body .product_item h3 {
	text-align: center;
}
#ecp_Status4Bloc .block_body .product_item .sale_price {
	text-align: center;
}

/* 上部・下部・中央カラム配置時 */
#headertopcolumn #ecp_Status4Bloc .block_body,
#footerbottomcolumn #ecp_Status4Bloc .block_body,
#topcolumn #ecp_Status4Bloc .block_body,
#bottomcolumn #ecp_Status4Bloc .block_body,
.main_column #ecp_Status4Bloc .block_body {
	padding: 10px 2px 2px 8px;
}
#headertopcolumn #ecp_Status4Bloc .block_body .product_item,
#footerbottomcolumn #ecp_Status4Bloc .block_body .product_item,
#topcolumn #ecp_Status4Bloc .block_body .product_item,
#bottomcolumn #ecp_Status4Bloc .block_body .product_item,
.main_column #ecp_Status4Bloc .block_body .product_item {
	float: left;
	padding: 0px 10px 8px;
}
#headertopcolumn #ecp_Status4Bloc .block_body .ecp_last_child,
#footerbottomcolumn #ecp_Status4Bloc .block_body .ecp_last_child,
#topcolumn #ecp_Status4Bloc .block_body .ecp_last_child,
#bottomcolumn #ecp_Status4Bloc .block_body .ecp_last_child,
.main_column #ecp_Status4Bloc .block_body .ecp_last_child {
	margin: 0px;
	border-right: none;
}
#headertopcolumn #ecp_Status4Bloc .block_body .product_item .product_item_inner,
#footerbottomcolumn #ecp_Status4Bloc .block_body .product_item .product_item_inner,
#topcolumn #ecp_Status4Bloc .block_body .product_item .product_item_inner,
#bottomcolumn #ecp_Status4Bloc .block_body .product_item .product_item_inner,
.main_column #ecp_Status4Bloc .block_body .product_item .product_item_inner {
	padding: 0px 6px;
}

/* サイドカラム配置時 */
.side_column #ecp_Status4Bloc .block_body {
	padding: 2px 10px;
}
.side_column #ecp_Status4Bloc .block_body .product_item {
	width: 100% !important;
	padding: 10px 0px;
	border-bottom: 1px dotted #CCCCCC;
}
.side_column #ecp_Status4Bloc .block_body .ecp_last_child {
	border-bottom: none;
}
